// Place all the styles related to the recordings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require jquery-ui

#recordings-wrapper {

  width: 1305px;
  overflow: hidden;

  margin: 10px auto;



  .recording-selector {
    float: left;
    margin-right: 10px;
    width: 280px;
    margin-bottom: 20px;

    #series-button {
      margin-bottom: 32px;
    }
  }

  .ui-selectmenu-button {
    width: 248px;
  }
  //
  #recordings {
    //display: none;

  }

}

.lof-main-item-desc h3,
.lof-navigator h3 {
    margin: 0;
}